.pic {
  height: auto;
  width: 50vw;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin-left: 5%;
}

.tit {
  font-size: 7vw;
  margin-top: 5vw;
  color: #fff;

  margin-left: 5vw;
}

.head {
  margin-top: 5vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  background-color: rgb(13, 32, 89);
  border-radius: 5vw;
}

.objet {
  background-color: rgb(13, 32, 89);
  border-radius: 4vw;
  width: 90%; /* or any other width */
  margin: 5vw auto;
}

.notr {
  padding-top: 5vw;
  padding-left: 20vw;
  font-size: 5vw;
  color: #fff;
}

.para {
  padding: 5vw;
  font-size: 2vw;
  font-family: bold;
  color: #c5c5c5;
}

.g3 {
  background-color: rgb(13, 32, 89);
  border: 0.5vw solid #f0ffff;
  border-radius: 5vw;
  width: 90%;
  margin: 5vw auto;
}

.personne {
  margin-top: 5vw;
  text-align: center;
  margin-right: 1vw;
  width: 25vw;
  height: 30vw;
  border: solid 1px rgb(13, 32, 89);
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: margin-top 1s;
  background-image: linear-gradient(to top, rgb(13, 32, 89) 100%, #fff 10%);
  background-origin: border-box;
  background-clip: content-box;
}

.data {
  margin-top: 1vh;
  text-align: center;
  font-size: 1.5vw;
  font-family: serif bold;
  color: silver;
}
.data1 {
  margin-top: 3vw;
  text-align: center;
  font-size: 1.5vw;
  color: silver;
  font-family: serif bold;
}
.me {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin-top: 0;
}

.equipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.personne:hover,
.personne2:hover {
  box-shadow: 0 0.7em 0.7em -0.3em #d9e70e;
  transform: translateY(-0.5em);
  margin-top: 3vw;
}

@media screen and (max-width: 600px) {
  .data {
    margin-top: 2px;
    font-size: 1vw;
  }
  .data1 {
    margin-top: 5px;
    font-size: 1vw;
  }
}
